[Unit]
Description=Python App
After=network.target

[Service]
User=opc
WorkingDirectory=/home/opc/pythonapp
ExecStart=/bin/bash -c /home/opc/pythonapp/app.sh
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target